<form [formGroup]="formGroup3" (ngSubmit)="registrarEmpleado()">

<div class="grid grid-cols-6 grid-rows-7 gap-6 px-8 py-4">
        <div class="col-start-1 row-start-2">
        <label class="block">
            <span class="block text-sm font-medium text-slate-700">Matrícula</span>
            <input
                type="text"
                name="matricula"
                formControlName="matricula"
                class="mt-1 px-4 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                placeholder="matricula"
            />
        </label>
    </div>
 
    <div class="row-start-3 col-start-1">
        <label class="block">
            <span class="block text-sm font-medium text-slate-700">Nombre</span>
            <input
                type="text"
                name="nombre"
                formControlName="nombre"
                class="mt-1 px-4 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                placeholder="nombre"
            />
        </label>
    </div>

    <div class="row-start-4 col-start-1">
        <label class="block">
            <span class="block text-sm font-medium text-slate-700">Correo</span>
            <input
                type="email"
                name="email"
                formControlName="correo"
                class="mt-1 px-4 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                placeholder="you@example.com"
            />
        </label>
    </div>

    <div class="row-start-5 col-start-1">
        <label class="block">
            <span class="block text-sm font-medium text-slate-700">Edad</span>
            <input
                type="number"
                name="edad"
                formControlName="edad"
                class="mt-1 px-4 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                placeholder="edad"
            />
        </label>
    </div>

    <div class="row-start-6 col-start-1">
        <label class="block">
            <span class="block text-sm font-medium text-slate-700">Horas Trabajadas</span>
            <input
                type="number"
                name="horas"
                formControlName="horas"
                class="mt-1 px-4 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                placeholder="horas"
            />
        </label>
    </div>
    <div class="row-start-7 col-start-1">
        <button type="button" (click)="registrarEmpleado()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Registrar</button>
    </div>

    <div class="col-span-4 row-span-5 col-start-3 row-start-2">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Matrícula</th>
                        <th scope="col" class="px-6 py-3">Nombre</th>
                        <th scope="col" class="px-6 py-3">Correo</th>
                        <th scope="col" class="px-6 py-3">Edad</th>
                        <th scope="col" class="px-6 py-3">Horas Trabajadas</th>
                        <th scope="col" class="px-6 py-3">$ Horas reglamentarias</th>
                        <th scope="col" class="px-6 py-3">$ Horas Extras</th>
                        <th scope="col" class="px-6 py-3">Subtotal</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ empleado.matricula }}</th>
                        
                        <td class="px-6 py-4">{{ empleado.nombre }}</td>
                        <td class="px-6 py-4">{{ empleado.correo }}</td>
                        <td class="px-6 py-4">{{ empleado.edad }}</td>
                        <td class="px-6 py-4">{{ empleado.horas }}</td>
                        <td class="px-6 py-4">{{ calcularPagoHorasRegulares(empleado.horas) }}</td>
                        <td class="px-6 py-4">{{ calcularPagoHorasExtras(empleado.horas) }}</td>
                        <td class="px-6 py-4">{{ calcularSubtotal(empleado.horas) }}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-start-3">
        <button type="button" (click)="imprimirTabla()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Imprimir Tabla</button>
    </div>
    <div class="col-start-3 row-start-7">
        <button type="button" (click)="cargarEmpleado()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Modificar</button>
    </div>
    <div class="col-start-4 row-start-7">
        <button type="button" (click)="eliminarEmpleado()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Eliminar</button>
    </div>
    <div class="col-start-6 row-start-7"><h3 class="text-lg font-bold">Total Nómina: ${{ calcularTotalAPagar() }}</h3></div>
    
    
</div>
</form>